.Hero-swiper {
    width: 100%;
    height: 100%;
    border-radius: 8px;

    // margin-left: -40px;
    .swiper-pagination-bullet {
        background: #FFFFFF !important;
        opacity: .5;
        width: 6px;
        height: 6px;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
    }

    .swiper-slide {
        height: 413.0299987792969px;
        width: 1240px;
        overflow: hidden;
        object-fit: cover;
    }

    .slide-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        display: none;
    }

    .swiper-button-next img,
    .swiper-button-prev img {
        background: #F2F4F7;
        border: 1px solid #36363F;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        opacity: .5;
    }

    .swiper-button-next {
        right: 16px;
    }

    .swiper-button-prev {
        left: 16px;
    }
}
.main{
    margin-top: 20px;
}
.lan img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.language {
    display: none;
}

nav div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.catalog {
    width: 50%;
}

.catalog_flex-box {
    padding: 10px 25px;
    background: #F0F0FF;
    border-radius: 5px;
    color: #7000FF;
    transition: all 0.5s;
}

.catalog_flex-box:hover {
    background: #ab87f9;
}

.search {
    width: 500px;
    border: 2px solid grey;
    border-radius: 5px;
    display: flex;
    height: 45px;
    justify-content: space-between;
}

.search input {
    border: none;
    outline: none;
    width: 85%;
    font-size: 16px;
    padding: 0 20px;
}

.search button {
    border: none;
    background: #F2F4F7;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 27px;
}

.account {
    gap: 20px;
}

.nav_card {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav_card:hover {
    background: #e8e8e8;
}

.section_3 {
    align-items: center;
    height: 30px;
}

.unordred-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
    align-items: center;
}

.container {
    width: 1367px;
    margin: 0 auto;
}

.unordred-list li a {
    display: flex;
    gap: 5px;
    cursor: pointer;
    align-items: center;
    color: #6f6f6f;
}

.unordred-list li:hover img {
    display: block;
}

.unordred-list li:hover a {
    color: #000;
}

.unordred-list li img {
    display: none;
    width: 30px;
    height: 25px;
}

.see-more {
    display: flex;
    align-items: center;
    gap: 3px;
}

/* card styles */
.cards {
    display: flex;
    width: 100%;
    min-height: 490px;
    align-content: space-evenly;
    justify-content: space-between;
    gap: 30px;
}

.card {
    width: 235px;
}

.img-part {
    width: 100%;
    height: 300px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}

.img-part img {
    position: absolute;
    width: 235px;
    height: 300px;
    z-index: 1;
}

.img-part .action {
    z-index: 2;
    position: relative;
    left: 10px;
    top: 265px;
    background: #3B007D;
    padding: 0 5px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #fff;
}

.img-part i {
    z-index: 2;
    position: relative;
    top: 10px;
    left: 140px;
    font-size: 25px;
    cursor: pointer;
}

.text-part {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px 10px;
}

.about-product {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.about-product p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15.36px;
    letter-spacing: 0px;
}

.comments p.rating {
    display: flex;
    align-items: center;
}

.comments p {
    color: #8C8E98;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 11.2px;
    line-height: 11.2px;
}

.comments {
    display: flex;
    font-weight: 100;
}

.comments i {
    color: #FFB54C;
}

.d_p {
    width: 130px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;
    background: #FFFF00;
}

.buy {
    display: flex;
    justify-content: space-between;
}

.price b {
    font-weight: normal;
    text-decoration: line-through;
    color: #8B8E99;
    font-size: 14px;
}

.buy i {
    padding: 10px;
    border: 1.5px solid #8B8E99;
    border-radius: 50%;
}

.product-section .container {
    display: block;
}

.product-section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    animation: slideleft 2s ease-in;
    animation-delay: 5s;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.container2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    max-width: 300px;
}

.container2 h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 19px;
    vertical-align: middle;
}

.container2 a {
    color: #8C8E98;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
}

.apps {
    width: 230px;
}

.s_m {
    width: 230px;
}

hr {
    margin: 30px 0 0 0;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    flex-wrap: wrap;
    align-content: space-evenly;
    text-align: center;
}

.gap {
    display: flex;
    gap: 15px;
}

.footer.container {
    width: 1691px;
}

.copyright.container p {
    color: gray;
}

.empty-page-img {
    height: 128px;
    width: 128px;
}

.to-homepage-btn {
    background-color: #E6E8ED;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    height: 38px;
    display: inline-block;
    padding: 7px 14px;
    text-decoration: none;
    border: none;
}

.empty-page-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}